{# You can omit the `.twig` when referencing another template: #}
{% extends '_layout' %}

{# Getting all posts from the blog section #}
{% set posts = craft.entries().section('blog').all() %}

{% block content %}

  <h1>Blog</h1>

  {# By default, Twig exposes all variables in the current “context” to included templates, so posts is available to the _feed template #}
  {% include 'blog/_feed' %}

  {# Alternatively we can control was is passed to the include like below #}
  {# {% include 'blog/_feed' with {
    posts: posts
  } only %} #}

{% endblock %}